block variables

doctype html
html
	head

	meta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1')

	title Bungusland

	link(rel='icon', href='images/favicon.png?v=#{deployVersion}', type='image/x-icon')
	link(rel='shortcut icon', href='images/favicon.png?v=#{deployVersion}', type='image/x-icon')
	link(rel='stylesheet', href='/styles/main.css?v=#{deployVersion}')

	script(type='text/javascript', src='/scripts/mousetrap.js?v=#{deployVersion}')
	script(type='text/javascript', src='/scripts/jquery-2.2.0.js?v=#{deployVersion}')
	script(type='text/javascript', src='/scripts/preloadjs-0.6.2.combined.js?v=#{deployVersion}')
	script(type='text/javascript', src='/scripts/preloadjs-0.6.2.combined.js?v=#{deployVersion}')
	script(type='text/javascript', src='/scripts/bungus-load.js?v=#{deployVersion}')
	script(type='text/javascript', src='/scripts/bungus-ui.js?v=#{deployVersion}')

	body
		#main-webload
			img(src="images/overlay_webload.gif?v=#{deployVersion}")
		#main-content
			.pure-g
				.pure-u-1-1.vertical-spacer
			.pure-g
				.pure-u-1-4
				.pure-u-2-4.pure-center#bungus-logo
					img.pure-img(src="images/logo.png" width=432 height=240)
				.pure-u-1-4
			.pure-g
				.pure-u-1-1.vertical-spacer
			.pure-g.center
				.pure-u-1-8
				.pure-u-3-4
					.pure-menu
						span.pure-menu-heading Temporary Bungus Menu
						ul.pure-menu-list
							.pure-menu-item.pure-menu-link.pure-center.nav-btn(data-target-pane="welcome") Welcome
							.pure-menu-item.pure-menu-link.pure-center.nav-btn(data-target-pane="videos") Videos
							.pure-menu-item.pure-menu-link.pure-center.nav-btn(data-target-pane="music") Music
							.pure-menu-item.pure-menu-link.pure-center.nav-btn(data-target-pane="scriptsandsynopsis") Scripts and Synopsis
							.pure-menu-item.pure-menu-link.pure-center.nav-btn(data-target-pane="scriptsandsynopsis") Behind the Scenes
				.pure-u-1-8
			#pane-content

