extends layout

block fixed
	#bungus-logo
		img.img-responsive.margin-center(src="images/logo.png#{ver}")
	
	.row#top_islands
		each pane in ["welcome", "videos", "music"]
			.col-xs-4.nav-btn(data-target-pane="#{pane}" id="#{pane}-nav")
				img.img-responsive.margin-center(src="images/nav_#{pane}.png#{ver}")
	.row#bottom_islands
		.col-xs-1
		each pane in ["scripts-and-synopsis", "behind-the-scenes"]
			.col-xs-5.nav-btn(data-target-pane="#{pane}")
				img.img-responsive.margin-center(src="images/nav_#{pane}.png#{ver}")
		.col-xs-1