extends layout

block variables

block title
	title Bungusland - Welcome

block scroll
	.x-close x
	.row
		.col-xs-1
		.col-xs-10
			img.img-responsive.margin-center(src="content/bungus_logo.gif#{ver}")
		.col-xs-1
	.row
		.col-xs-1
		.col-xs-10
			p Welcome To Bungusland, an animated musical comedy series following the adventures of Billy Bungus and his girlfriend Sea Cucumber girl.
			p Billy Bungus is an aspiring chef who, after inheriting an old stone tower, begins a secret double life as Mayor of a strange place called Bungusland which he travels to by flushing himself down the drain!
			p We join Billy each episode as he encounters all sorts of bizarre situations and fun, unique characters while struggling to deal with his dual responsibilities.
			p Welcome to Bungusland…an exciting world of hilarious songs & endless adventure…
		.col-xs-1
	.row
		.col-xs-1
		.col-xs-4
			img.img-responsive.margin-center(src="content/character_billy.gif#{ver}")
		.col-xs-6
			h1 Billy Bungus
			p Billy is the central figure and his girlfriend is a sea cucumber that he carries around with him.
			p He is a normal teenage boy who is kind, overly trusting and aspires to be a chef in the restaurant in which he works.
			p His catchphrase is ‘Whaaaerd!’ which he exclaims in extreme situations.
			p He can be a little dim-witted at times.
		.col-xs-1
	.row
		.col-xs-1
		.col-xs-6
			h1 Sea Cucumber Girl
			p Sea Cucumber Girl is Billy’s girlfriend and sidekick.
			p She is very smart and the real brains of the operation solving difficult situations in her own quiet way, often without anyone noticing.
		.col-xs-4
			img.img-responsive.margin-center(src="content/character_seacucumber.gif#{ver}")
		.col-xs-1
	.row
		.col-xs-1
		.col-xs-10
			p She speaks using little noises.
			p She secretes a purple liquid called Bungus Juice which is delicious and Billy’s secret ingredient in his aspiring chef career.
		.col-xs-1


	.row
		.col-xs-1
		.col-xs-6
			img.img-responsive.margin-center(src="content/character_professor.gif#{ver}")
		.col-xs-4
			h1 Crazy Profressor and Bionic Crab
			p He is a mischievous character whose plans to dominate Bungusland nearly always backfire.
		.col-xs-1
	.row
		.col-xs-1
		.col-xs-10
			p The Crazy Professor is driven by a desire to become mayor of Bungusland and a resentment of its inhabitants. He is Billy’s arch nemesis.
		.col-xs-1

	.row
		.col-xs-1
		.col-xs-6
			h1 Prawn Paul
			p Prawn Paul is a rapping prawn. He is up-beat and positive. He is a close trusted friend of Billy and Sea Cucumber Girl.
		.col-xs-4
			img.img-responsive.margin-center(src="content/character_prawnpaul.gif#{ver}")
		.col-xs-1

	.row
		.col-xs-1
		.col-xs-4
			img.img-responsive.margin-center(src="content/character_lobsquitch.gif#{ver}")
		.col-xs-6
			h1 Lobsquitch
			p The Lobsquitch is part lobster, part squid and part ostrich, a Godzilla sized wanderer who lives in Bungusland.
		.col-xs-1

	.row
		.col-xs-1
		.col-xs-6
			h1 Emily Epiglottis And Gwretchin
			p Emily is Billy’s friend. She is an energetic & lively tomboy who has a romance loving epiglottis called Gwretchin that pops out from her mouth.
		.col-xs-4
			img.img-responsive.margin-center(src="content/character_emily.gif#{ver}")
		.col-xs-1

	.row
		.col-xs-1
		.col-xs-4
			img.img-responsive.margin-center(src="content/character_gastronaut.gif#{ver}")
		.col-xs-6
			h1 Gastronaut
			p He is an overweight astronaut who is friendly & well-meaning, often caught between his desire to help and his search for a snack.
		.col-xs-1

	.row
		.col-xs-1
		.col-xs-6
			h1 Robot Walrus
			p Created by the Crazy Professor, he is a gigantic robotic walrus that always turns up at the worst moment to cause havoc.
		.col-xs-4
			img.img-responsive.margin-center(src="content/character_robowalrus.gif#{ver}")
		.col-xs-1
	.row
		.col-xs-1
		.col-xs-4
			img.img-responsive.margin-center(src="content/character_tony.gif#{ver}")
		.col-xs-6
			h1 Tony Dourbain
			p The arrogant head Chef at the restaurant in which Billy works. He is always on Billy’s back, suspicious of his strange absences.
		.col-xs-1

	.row
		.col-xs-1
		.col-xs-6
			h1 Aunt Betty
			p She lives in Bungus Tower. Billy doesn’t realize that she is the Crazy Professors Grandmother orchestrating mayhem in Bungusland.
		.col-xs-4
			img.img-responsive.margin-center(src="content/character_aunt.gif#{ver}")
		.col-xs-1

	.row
		.col-xs-1
		.col-xs-4
			img.img-responsive.margin-center(src="content/character_captain.gif#{ver}")
		.col-xs-6
			h1 Captain Climate Change
			p When he’s in Bungusland Billy has an over-zealous, eco-obsessed super hero alter-ego.
		.col-xs-1